<template>
    <button class="btn btn-sm btn-link" @click="toggle">
        <i class="fa fa-fw" :class="[favorited ? 'fa-heart' : 'fa-heart-o']"></i>
    </button>
</template>

<script>
    import {flash} from './../utils';

    export default {
        props: ['reply'],
        data() {
            return {
                favorited: this.reply.favorited,
            }
        },
        methods: {
            toggle() {
                this.$http.post(`/replies/${this.reply.id}/favorite`)
                    .then(({data}) => {
                        this.favorited = data.status;

                        flash(this.favorited ? 'Reply favorited!' : 'Reply unfavorited!');
                    });
            }
        }
    }
</script>