<template>
    <div class="alert" :class="alertColor" @click="show = !show" v-if="show">
        {{body}}
    </div>
</template>

<script>
    export default {
        name: 'flash',
        props: ['type', 'message'],
        data() {
            return {
                show: false,
                body: '',
                color: 'success'
            }
        },
        computed: {
            alertColor() {
                return `alert-${this.color}`;
            }
        },
        methods: {
            flash(body, color) {
                this.body = body;
                this.color = color;
                this.show = true;

                this.hide();
            },
            hide() {
                setTimeout(() => {
                    this.show = false;
                }, 3000);
            }
        },
        created() {
            if (this.message) {
                this.flash(this.message, this.type);
            }

            window.events.$on('flash', event => this.flash(event.body, event.color));
        }
    }
</script>

<style scoped>
    div {
        margin: 0;
        position: fixed;
        bottom: 25px;
        right: 25px;
    }
</style>