<template>
    <div>
        <form @submit.prevent="onSubmit" v-if="loggedIn">
            <div class="form-group">
                <textarea name="body"
                          rows="5"
                          class="form-control"
                          :class="{'is-invalid': errors.body}"
                          v-model="body"
                          @focus="$delete(errors, 'body')"
                          placeholder="Your reply..."
                          required>
                </textarea>
                <div class="invalid-feedback" v-if="errors.body">
                    {{ errors.body }}
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Post Reply</button>
            </div>
        </form>
        <p class="text-center" v-else>To participate in this discussion <a href="/login">login</a> or
            <a href="/register">register</a>.</p>
    </div>
</template>

<script>
    import {formatFormErrors} from './../utils';

    export default {
        props: ['thread', 'endpoint'],
        data() {
            return {
                body: null,
                errors: {}
            }
        },
        methods: {
            onSubmit() {
                this.errors = {};

                this.$http.post(this.endpoint, {body: this.body})
                    .then(response => {

                        this.body = null;

                        window.events.$emit('new-reply', response.data);
                    })
                    .catch(error => {
                        this.errors = formatFormErrors(error.response);
                    });
            }
        }
    }
</script>