<template>
    <div class="d-flex justify-content-between" v-if="shouldPaginate">
        <button type="button" aria-label="Previous" class="btn btn-primary" :disabled="!hasPrevious" @click="previousPage">Previous</button>
        <button type="button" aria-label="Next" class="btn btn-primary" :disabled="!hasNext" @click="nextPage">Next</button>
    </div>
</template>

<script>
    export default {
        name: 'pagination',
        props: {
            current: {
                type: Number,
                required: true
            },
            total: {
                type: Number,
                required: true
            },
            perPage: {
                type: Number,
                required: true
            }
        },
        methods: {
            nextPage() {
                this.$emit('update:current', this.current + 1);
                this.$emit('pageChange', this.current + 1);
            },
            previousPage() {
                this.$emit('update:current', this.current - 1);
                this.$emit('pageChange', this.current - 1);
            }
        },
        computed: {
            shouldPaginate() {
                return this.total > this.perPage;
            },
            hasNext() {
                return (this.current * this.perPage) < this.total;
            },
            hasPrevious() {
                return this.current > 1;
            }
        }
    }
</script>