<template>
    <div id="replies" v-if="ready">
        <reply v-for="(reply, index) in replies" :data="reply" :key="reply.id" @deleted="onDeleted(index)"/>
        <pagination :current.sync="page" :total="total" :perPage="limit" @pageChange="onPageChange"/>
    </div>
</template>

<script>
    import Reply from './Reply';
    import queryString from 'query-string';
    import {flash} from './../utils';

    export default {
        components: {
            Reply
        },
        data() {
            return {
                ready: false,
                replies: [],
                page: 1,
                limit: 1,
                total: null
            }
        },
        methods: {
            fetch() {
                return new Promise((success, failure) => {
                    this.$http.get(this.endpoint)
                        .then(response => {
                            this.replies = response.data.data;
                            this.total = response.data.total;
                            this.limit = response.data.per_page;

                            success(response);
                        })
                        .catch(failure)
                });
            },
            onDeleted(index) {
                this.replies.splice(index, 1);
                this.$emit('deleted');

                flash('Reply deleted!');
            },
            onNewReply(reply) {
                this.replies.push(reply);
                this.$emit('added');

                flash('Reply added!');
            },
            onPageChange() {
                this.fetch().then(() => {
                    document.getElementById('replies').scrollIntoView();
                });
            }
        },
        computed: {
            endpoint() {
                return `${location.pathname}/replies?page=${this.page}`;
            }
        },
        created() {
            this.page = parseInt(queryString.parse(location.search).page) || 1;

            this.fetch()
                .then(() => this.ready = true);

            window.events.$on('new-reply', this.onNewReply)
        }
    }
</script>