<template>
    <div :id="`reply-${reply.id}`" class="card my-3" v-if="visible">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <i class="fa fa-reply fa-fw text-muted mr-1"></i> <a href="/">{{ reply.author.name }}</a> replied {{ $moment(reply.created_at).fromNow() }}.
            </div>
            <div>
                <button class="btn btn-sm btn-link" @click="editing = !editing" type="button" v-if="canUpdate"><i class="fa fa-edit fa-fw"></i></button>
                <button class="btn btn-sm btn-link" @click.prevent="destroy" type="button" v-if="canUpdate"><i class="fa fa-times fa-fw"></i></button>
                <favorite :reply="reply" v-if="loggedIn"/>
            </div>
        </div>
        <div class="card-body">
            <form @submit.prevent="update" v-if="editing">
                <div class="form-group">
                    <textarea class="form-control" :class="{'is-invalid': errors.body}" v-model="reply.body" rows="7" @focus="$delete(errors, 'body')" required></textarea>
                    <div class="invalid-feedback" v-if="errors.body">
                        {{ errors.body }}
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-sm btn-link" @click="editing = false" type="button">Cancel</button>
                    <button class="btn btn-sm btn-primary" type="submit">Update</button>
                </div>
            </form>
            <div v-else v-html="reply.body"></div>
        </div>
    </div>
</template>

<script>
    import Favorite from './Favorite';
    import {flash, formatFormErrors} from './../utils';

    export default {
        props: ['data'],
        components: {
            Favorite
        },
        data() {
            return {
                editing: false,
                visible: true,
                reply: this.data,
                errors: {}
            }
        },
        methods: {
            update() {
                this.error = {};

                this.$http.patch(`/replies/${this.data.id}`, {body: this.reply.body})
                    .then(() => {
                        this.editing = false;

                        flash('Reply updated!');
                    })
                    .catch(error => {
                        this.errors = formatFormErrors(error.response);
                    });
            },

            destroy() {
                this.$http.delete(`/replies/${this.data.id}`)
                    .then(() => {
                        this.$emit('deleted');
                    });

            }
        },
        computed: {
            canUpdate() {
                return this.auth(user => user.id === this.reply.user_id);
            }
        }
    }
</script>