<template>
    <button class="btn btn-block btn" :class="[subscribed ? 'btn-primary' : 'btn-secondary']" @click="toggle">
        {{ subscribed ? 'Unsubscribe' : 'Subscribe' }}
    </button>
</template>

<script>
    export default {
        props: {
            endpoint: {
                type: String,
                required: true
            },
            active: {
                type: Boolean,
                required: true
            }
        },
        data() {
            return {
                subscribed: this.active
            }
        },
        methods: {
            toggle() {
                if (this.subscribed) {
                    this.$http.delete(this.endpoint)
                        .then(() => {
                            this.subscribed = false;

                            this.$emit('unsubscribed');
                        });
                } else {
                    this.$http.post(this.endpoint)
                        .then(() => {
                            this.subscribed = true;

                            this.$emit('subscribed');
                        });
                }
            }
        }
    }
</script>