<template>
    <li v-if="fetching" class="nav-item">
        <span class="nav-link disabled">
            <i class="fa fa-pulse fa-spinner"></i>
        </span>
    </li>
    <li v-else-if="notifications.length > 0" class="nav-item dropdown">
        <a class="nav-link" href="#" data-toggle="dropdown">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a v-for="notification in notifications"
               class="dropdown-item"
               :href="notification.data.link"
               v-text="notification.data.message"
               @click="markAsRead(notification)"></a>
            <template v-if="notifications.length > 1">
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item" @click.prevent="markAllRead">Mark all read</a>
            </template>
        </div>
    </li>
    <li v-else class="nav-item">
        <span class="nav-link disabled">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </span>
    </li>
</template>

<script>
    export default {
        name: 'user-notifications',
        data() {
            return {
                fetching: false,
                notifications: []
            }
        },
        methods: {
            markAsRead(notification) {
                this.$http.delete(`/profiles/${window.app.user.name}/notifications/${notification.id}`);
            },
            markAllRead() {
                this.$http.delete(`/profiles/${window.app.user.name}/notifications/all`)
                    .then(() => this.fetchNotifications());
            },
            fetchNotifications() {
                return new Promise((success, failure) => {
                    this.$http.get(`/profiles/${window.app.user.name}/notifications`)
                        .then(response => {
                            this.notifications = response.data;

                            success(response);
                        })
                        .catch(error => {
                            failure(error)
                        });
                });
            }
        },
        created() {
            this.fetching = true;

            this.fetchNotifications()
                .finally(() => this.fetching = false);
        }
    }
</script>