body {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

textarea {
  resize: none;
}

.btn-link {
  cursor: pointer;
}

[v-cloak] {
  display: none;
}

